@import url('components/nullstyle.css');
@import url('components/fonts.css');
@import url('components/swiper-bundle.min.css');
@import url('components/iconfont.css');
/*=================================================================general_class*/
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.subtext {
    font-family: 'PTSerif-Italic';
    line-height: 1.33;
}

.text {
    font-family: 'PTSerif-Regular';
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.14px;
    color: #5e5e5e;
}

.subtitle {
    font-family: 'PTSerif-Bold';
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.6px;
}

.desc {
    font-family: 'PTSerif-Bold';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    text-align: center;
    color: #212020;
}

/*=================================================================header*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 57px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px rgba(255, 194, 34, 0.8);
    z-index: 2;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-logo {
    padding: 0 0 5px 0;
}

.header__logo-name {
    font-size: 16px;
}

.header__list {
    display: flex;
    padding: 20px 0;
}

.header__list_item {
    position: relative;
    margin: 0 0 0 20px;
}

.header__list_item-link {
    font-family: 'PTSerif-Regular';
    font-size: 16px;
    color: #323232;
}

.header__list_item-link:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: 	#ffc222;
    transition: .3s;
    transform: scaleX(0);
}

.header__list_item-link:hover:before{
    transform: scaleX(1);
}

@media (max-width: 767px) {
    .header__list_item {
        margin: 0 0 20px 0;
    }

    .header__list {
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        left: 0;
        top: -120%;
        padding: 80px 0 0 0;
        background: rgba(255, 255, 255, 0.91);
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    .header__list.active {
        top: 0;
        opacity: 1;
        visibility: visible;
        transition: .5s;
    }
    
    .header__list_item-link {
        font-size: 20px;
    }

    .burger {
        position: absolute;
        width: 30px;
        height: 20px;
        top: 17.5px;
        right: 20px;
        cursor: pointer;
        z-index: 7;
    }

    .burger span:nth-child(1){
        position: absolute;
        top: 0;
        width: 28px;
        height: 2px;
        background-color: #323232;
        transition: .3s;
    }

    .burger span:nth-child(2){
        position: absolute;
        top: 8px;
        width: 28px;
        height: 2px;
        background-color: #323232;
        transition: .3s;
    }

    .burger span:nth-child(3){
        position: absolute;
        top: 16px;
        width: 28px;
        height: 2px;
        background-color: #323232;
        transition: .3s;
    }

    .burger.active span:nth-child(1){
        transform: rotate(45deg);
        top: 8px;
        transition: .3s;
    }

    .burger.active span:nth-child(2){
        transform:scaleX(0);
        top: 8px;
        transition: .3s;
    }

    .burger.active span:nth-child(3){
        transform: rotate(-45deg);
        top: 8px;
        transition: .3s;
    }

}

/*=================================================================title-slider*/

.title-slider {
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 500px;
    margin: 57px 0 0 0;
}

.title-slider__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -1;
}

.title-slider__swiper {
    overflow: hidden;
    max-width: 654px;
    margin: 0 auto;
}

.title-slider__slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 180px 0 0 0;
}

.title-slider__slide-title {
    font-family: 'PTSerif-Bold';
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #dadada;
    padding: 0 0 25px 0;
}

.title-slider__slide-subtext {
    font-size: 18px;
    color: #d3d2d2;
}

.title-slider__arrow {
    position: relative;
}

.title-slider__arrow-left {
    position: absolute;
    top: -50px;
    left: 100px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}

.title-slider__arrow-right {
    position: absolute;
    top: -50px;
    right: 100px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}

.title-slider__arrow-left:hover,
.title-slider__arrow-right:hover {
    border: solid #ffc222;
    border-width: 0 3px 3px 0;
    padding: 9px;
}

@media (max-width: 890px) {
    .title-slider__arrow-left {
        top: 35px;
        left: 35%;
    }

    .title-slider__arrow-right {
        top: 35px;
        right: 35%;
    }
}

@media (max-width: 767px) {
    .title-slider__slide {
        margin: 150px 0 0 0;
    }

    .title-slider__slide-title {
        font-size: 20px;
    }
    
    .title-slider__slide-subtext {
        font-size: 16px;
    }
}

/*=================================================================services*/

.box_title-subtitle {
    position: relative;
    padding: 0 0 14px 0;
    color: #212020;
}

.box_title-subtitle::before {
    position: absolute;
    content: '';
    max-width: 100px;
    width: 100%;
    height: 2px;
    left: -130px;
    top: 12px;
    background-color: #ffc222;
    border-radius: 5px;
}

.box_title {
    width: 100%;
    max-width: 500px;
}

.services__box_title {
    padding: 60px 0 45px 135px;
}

.services__box_main-desc {
    flex: 1 1 auto;
}

.services__box_main-text {
    margin: 20px 0 10px 0;
}

.services__box_main {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px 0;
}

.services__box_main_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex: 0 1 30%;
    height: 240px;
    padding: 0 10px;
    -webkit-box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

.services__box_main-logo {
    margin: 10px 0 27px 0;
    height: 54px;
    object-fit: cover;
}

.main-logo1 {
    width: 63px;
}

.main-logo2 {
    width: 57px;
}

.main-logo3 {
    width: 59px;
}

@media (max-width: 980px) {
    .services__box_main {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 35px;
    }

    .services__box_main_column {
        flex: 0 1 45%;
        height: 220px;
        margin: 10px 15px;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .services__box_main {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 35px;
    }

    .services__box_main_column {
        flex: 0 0 100%;
        height: 220px;
        margin: 10px 15px;
        padding: 0 10px;
    }
}

@media (max-width: 450px) {
    .services__box_main-desc {
        font-size: 16px;
        flex: none;
    }
    
    .services__box_main-text {
        font-size: 12px;
        margin: 10px 0;
        padding: 0;
    }

    .box_title {
        width: 100%;
    }

    .services__box_title {
        padding: 60px 0 45px 80px;
    }

    .box_title-subtitle::before {
        max-width: 50px;
        left: -80px;
    }

    .services__box_main_column {
        height: 240px;
    }
}

/*=================================================================about*/
.about {
    position: relative;
    background-color: rgba(0, 0, 0, .6);
}

.about__content {
    padding: 60px 0;
    max-width: 540px;
}

.about__backgrounds-ibg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.about__content-subtitle {
    color: #ffff;
    padding: 0 0 30px 0;
}

.about__content-text {
    word-spacing: 2px;
    color: #d3d2d2;
}

/*=================================================================connection*/
.connection {
    padding: 60px 0 45px 0;
}

.connection__form {
    position: relative;
    max-width: 850px;
    margin: 0 auto;
    text-align: right;
}

.connection__form::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(94, 94, 94, 0.1) url('../img/45.svg') center no-repeat;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.connection__form.sending.sending::after {
    opacity: 1;
    visibility: visible;
}

.connection__form_box {
    display: flex;
    text-align: left;
}

.connection__form_column:last-child {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 28px;
}

.connection__form_row {
    display: flex;
    flex-direction: column;
}

.connection__box_title {
    padding: 0 0 45px 135px;
}

.services__box_title-text-link {
    text-decoration: underline;
    font-weight: bold;
}

.connection__form-input {
    font-family: 'PTSerif-Regular';
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.14px;
    color: #5e5e5e;
    padding: 0 10px;
    width: 264px;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.connection__form-input:focus, .connection__form-textarea:focus{
    box-shadow: 0 0 3px #a3a3a3;
}

.connection__form-input.error, .connection__form-checkbox.error, .connection__form-textarea.error{
    box-shadow: 0 0 7px rgba(255, 0, 0, .5);
}

.connection__form-label {
    font-size: 14px;
    color: #282828;
    padding: 15px 0 7px 0;
}

.connection__form-textarea {
    font-family: 'PTSerif-Regular';
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.14px;
    color: #5e5e5e;
    padding: 10px;
    width: 557px;
    height: 192px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    resize: none;
}

.connection__form_checkbox {
    font-family: 'PTSerif-Regular';
    font-size: 13px;
    line-height: 1.29;
    letter-spacing: 0.14px;
    color: #5e5e5e;
    margin: 15px 0;
}

.connection__form_button {
    position: relative;
    display: inline-block;
    margin: 20px 20px 0 0;
}

.connection__form-button{
    font-family: 'PTSerif-Regular';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    text-align: center;
    color: #282828;
    padding: 6px 25px;
    border: 2px solid #ffc222;
    background-color: #fff;
}

.connection__form-button::before{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #ffc222;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.connection__form-button::after{
    position: absolute;
    content: '';
    right: 0;
    top: 14px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.connection__form-button:hover::before{
    right: -20px;
    opacity: 1;
    visibility: visible;
}

.connection__form-button:hover::after {
    right: -12px;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 880px) {
    .connection__form {
        max-width: 650px;
    }
    
    .connection__form-textarea {
        width: 357px;
    }
}

@media (max-width: 680px) {
    .connection__form_box {
        flex-direction: column;
    }

    .connection__form_column:last-child {
        margin: 0;
    }

    .connection__form {
        max-width: none;
    }

    .connection__form-input {
        width: 100%;
    }

    .connection__form-textarea {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .connection__box_title {
        padding: 0 0 45px 80px;
    }

    .connection__box_title-subtitle {
        font-size: 18px;
    }

    .connection__form_checkbox {
        font-size: 12px;
    }

    .connection__form {
        text-align: center;
    }
}

/*=================================================================communicatory*/
.communicatory {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, .6);
}

.communicatory__content {
    padding: 90px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.communicatory__content_col {
    flex: 0 1 30%;
}

.communicatory__content-figure {
    position: relative;
    display:block;
    left: 50%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    border: 2px solid #ffc222;
}

.communicatory__content-figure::after {
    position: absolute;
    content: '';
    top: 10px;
    left: 13px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.communicatory__content-desc {
    white-space: nowrap;
    padding: 30px 0 0 0;
    color: #dadada;
}

.communicatory__background-ibg {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 650px) {
    .communicatory__content-desc {
        font-size: 14px;
        padding: 15px 0;
    }

    .communicatory__content {
        padding: 110px 0 0 0;
    }

    .communicatory__content_col {
        flex: 0 1 100%;
    }

    .communicatory__content-figure {
        width: 30px;
        height: 30px;
    }

    .communicatory__content-figure::after {
        top: 7px;
        left: 8px;
        padding: 3px;
    }

}

@media (max-width: 450px) {
    .communicatory__content-desc {
        font-size: 14px;
        padding: 15px 0;
    }

    .communicatory__content {
        padding: 40px 0 0 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .communicatory__content-figure {
        width: 30px;
        height: 30px;
    }

    .communicatory__content-figure::after {
        top: 7px;
        left: 8px;
        padding: 3px;
    }

}

/*=================================================================footer*/
.footer {
    background-color: #595959;
    width: 100%;
    z-index: -1;
}

.footer__container {
    display: flex;
}

.footer__column {
    flex: 0 1 50%;
    height: 100%;
}

.footer__column:first-child {
    padding: 20px 0;
}

.footer__column_info_row {
    text-align: left;
}

.footer__column_info_row:nth-child(1) {
    text-align: left;
    padding: 0 0 30px 0;
}

.footer__column_info_row:nth-child(3) {
    display: flex;
    margin: 5px 0 20px 0;
}

.footer__column-desc {
    color: #fff;
    text-align: left;
    padding: 0 0 10px 0;
}

.footer__column-text {
    font-family: 'PTSerif-Italic';
    color: #dadada;
}

.footer__column-info {
    font-family: 'PTSerif-Regular';
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.5;
    color: #dadada;
    text-align: center;
    display: inline-block;
    margin: 0 0 15px 0;
}

.footer__column-button{
    position: relative;
    font-family: 'PTSerif-Regular';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    text-align: center;
    color: #5f5f5f;
    padding: 10px 20px 10px 10px;
    border: 2px solid #5f5f5f;
    background-color: #ffc222;
    transition: all .4s;
    display: inline-block;
}

.footer__column-button:hover{
    border: 2px solid #dbdbdb;
    background-color: #ffb700;
    color: #fff;
}

.map {
    border: 1px solid #6b6b6b;
    width: 100%;
    height: 324px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .footer__column:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__column_info_row:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0 20px 0;
    }

    .footer__column_info_row:nth-child(2) {
        display: flex;
        padding: 0 0 10px 0;
    }

    .footer__column_info_row:nth-child(3) {
        padding: 0 0 10px 0;
        justify-content: center;
        margin: 5px 0 5px 0;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .footer__column {
        flex: 0 1 100%;
        height: 100%;
    }

    [class^="-icon-"]:before, [class*=" -icon-"]:before {
        margin: 0 10px 0 0;
    }

    .footer__column-info {
        margin: 0 15px 0 0;
    }

    .map {
        height: 200px;
    }
}

@media (max-width: 570px) {
    .footer__column:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    .footer__column_info_row:nth-child(2) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__column_info_row:nth-child(3) {
        justify-content: center;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .footer__column {
        flex: 0 1 100%;
        height: 100%;
    }

    .footer__column-info {
        margin: 0;
        padding: 0 15px 10px 0;
    }

    .map {
        height: 200px;
    }
}